*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  height: 100vh;
  width: 100vw;
  background-color: steelblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.form{
    position: absolute;
    top: 100px;
}

.shownothing{
  position: absolute;
  top: 150px;
  font-size: 16px;
  color: white;
}

.input-box {
  padding: 10px 15px;
  font-size: 16px;
  width: 700px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-box:focus {
  border-color: #007bff; /* blue border on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.search-button:hover {
  background-color: #0056b3;
}